<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ClassController</servlet-name>
        <servlet-class>controller.ClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentController</servlet-name>
        <servlet-class>controller.AddStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanController</servlet-name>
        <servlet-class>controller.ThanhToanController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassController</servlet-name>
        <url-pattern>/listClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/priority</url-pattern>
        <url-pattern>/priority.jsp</url-pattern>
        <url-pattern>/AccountList.jsp</url-pattern>
        <url-pattern>/account</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/edit.jsp</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/addStudent</url-pattern>
        <url-pattern>/addStudent.jsp</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
